In [1]:
s = "sudh"

In [2]:
len(s)

4

In [5]:
print(s)

sudh

In [10]:
def test():
    pass

In [12]:
test()

In [14]:
def test1():
    print("this is my first fun")

In [15]:
print("this is my first fun")

this is my first fun

In [16]:
test1()

this is my first fun

In [17]:
test1()

this is my first fun

In [18]:
test1()

this is my first fun

In [19]:
test1()

this is my first fun

In [20]:
for i in range(10):
    test1()

this is my first fun
this is my first fun
this is my first fun
this is my first fun
this is my first fun
this is my first fun
this is my first fun
this is my first fun
this is my first fun
this is my first fun

In [21]:
def test2(a,b):
    print(a,b)

In [24]:
test2("sudh",6)

sudh 6

In [28]:
def test3(a,c,b,n,h):
    print(b,n,h , a)

In [29]:
test3([3,4,5] , (4,5,6) , "ffs", 45,3.45)

ffs 45 3.45 [3, 4, 5]

In [30]:
def test4(b , y = "sudh"):
    
    print(b,y)

In [32]:
test4(56, "kumar")

56 kumar

In [ ]:
print()

In [35]:
def test5(b,v):
    """this is my own funsdfs
    df
    fsd
    f
    sf
    sf
    sf
    sf
    dsf
    sf
    sdf
    sd
    fsd
    fs
    df
    sd
    sd
    fs
    """
    print("dfsfsfsd" , b,v )

In [36]:
test5("fsdsdf",56546)

dfsfsfsd fsdsdf 56546

In [37]:
def test6(a,t):
    print("fsfsdfsfsdfff sfds")

In [41]:
type(test6("fg",567))

fsfsdfsfsdfff sfds

NoneType

In [42]:
def test7():
    print("this is my fun")

In [43]:
test7()

this is my fun

In [47]:
str(test7()) + "sudh"

this is my fun

'Nonesudh'

In [45]:
type(test7())

this is my fun

NoneType

In [48]:
type(print("fsdf"))

fsdf

NoneType

In [49]:
def test8(a,b):
    return a

In [51]:
type(test8(45,"fsdfs"))

int

In [52]:
test8(5646,"sdfs" ) + 56

5702

In [55]:
def test9(a,b):
    return a, b*b

In [58]:
type(test9(3,4))

tuple

In [59]:
def test10(a,b):
    return a, b , a*b, a/b

In [63]:
for i in test10(3,5) :
    print(i)

3
5
15
0.6

In [64]:
test10(3,5)[0:3]

(3, 5, 15)

In [65]:
def test11(a,b) : 
    return a,b, a*b

In [66]:
test11("sudh" , 3)

('sudh', 3, 'sudhsudhsudh')

In [68]:
a = 34
b = 56
c = 23

In [69]:
a,b,c = 344 , 56 , 23

In [77]:
_,_,_ = 23,45,[56,67,88,7]

In [78]:
_

[56, 67, 88, 7]

In [79]:
def test12(a,b,c):
    return a,b,c

In [86]:
m,p,q = test12(5,3,1)

In [87]:
test12(5,3,1)

(5, 3, 1)

In [88]:
m

5

In [84]:
q

1

In [85]:
p

3

In [94]:
p,_,_ = test12(5,3,1)

In [95]:
p

5

In [98]:
def test13(b,n ):
    """this is a fun create by me 
    this fun takes 2 argument 
    this function is going to multiply you these two argument 
    and it will give you someting as a return 
    """
    c = b * n
    return c

In [99]:
test13("sudh" , 3)

'sudhsudhsudh'

In [106]:
def test(b):
    c = []
    for i in b :
        c.append(i)
    return c , c, c

In [107]:
test([4,5,6])

([4, 5, 6], [4, 5, 6], [4, 5, 6])

In [108]:
test(("fsdf","fsdfs" , 45,45))

(['fsdf', 'fsdfs', 45, 45],
 ['fsdf', 'fsdfs', 45, 45],
 ['fsdf', 'fsdfs', 45, 45])

In [109]:
a = input()
test(a)

fdfsfsafsd

(['f', 'd', 'f', 's', 'f', 's', 'a', 'f', 's', 'd'],
 ['f', 'd', 'f', 's', 'f', 's', 'a', 'f', 's', 'd'],
 ['f', 'd', 'f', 's', 'f', 's', 'a', 'f', 's', 'd'])

In [110]:
def dict_to_list(dictIn):
    """ This function coverts dict to list for values 
    where it's string """
    strList = []
    for i in dictIn.values():
        if type(i) == str:
            strList.append(i)

    return strList

In [113]:
dict_to_list({"a ":"fdsf" , "b" :{"n":"fsdf"},"c":[5,6,7,8],"d":456})

['fdsf']

In [114]:
def test14(d):
    l = []
    for i in d.values():
        if type(i) == str:
            l.append(i)
            
    return l

In [117]:
test14({"b":"sudh", "c" : "sdfsf"})

['sudh', 'sdfsf']

In [119]:
a = 54554
if type(a) == dict :
    test14(a)
else :
    print("input is not a dict ")

input is not a dict

In [120]:
def func(name, mail, phn):
    """
    This fucntion will take user details and return them 
    in form of a dictionary
    """
    l = [name, mail, phn]
    d = {}
    k = 0
    for i in l:
        d[k] =  l[k]
        k = k + 1
    return d


name = input("Enter name = ")
mail_id = input("Enter a mail id = ")
phone = int(input("Enter a  phone = "))
func(name,mail_id,phone)

Enter name = sdfaf
Enter a mail id = sfsfaf
Enter a  phone = 5454

{0: 'sdfaf', 1: 'sfsfaf', 2: 5454}

In [121]:
def test15():
    name = input()
    mail_id = input()
    phone_no = int(input()) 
    return {"name":name, "mail_id":mail_id , "phone_no":phone_no}

In [122]:
test15()

sudh
fsdfffsa
56567567

{'name': 'sudh', 'mail_id': 'fsdfffsa', 'phone_no': 56567567}

In [123]:
def test16(name , mail_id, phone_no):
    t  = ( name, mail_id, phone_no)
    d = {}
    for i in t : 
        d[i] = name
    return d

In [124]:
test16("sudh" , "sdfsf" , 435654)

{'sudh': 'sudh', 'sdfsf': 'sudh', 435654: 'sudh'}

In [126]:
name = input()

fsdfs

In [127]:
name

'fsdfs'

In [130]:
def person_info(name,phone,mail):
    lst1= [name,phone,mail]
    lst2 = ["name","phone","mail"]
    d={}
    for i,j in zip(lst1,lst2):
        d[j] = i
    return d
name = input("enter your name...")
phone = int(input("enter your number..."))
mail = input("enter your mail....")
person_info(name,phone,mail)

enter your name...fsdfs
enter your number...345
enter your mail....fsdf

{'name': 'fsdfs', 'phone': 345, 'mail': 'fsdf'}

In [138]:
a= [56,56,56,56,5,6]
b = 54345

In [139]:
list(zip(a,b))

TypeError: 'int' object is not iterable

In [140]:
def test17(a,b,c,d):
    return a ,b,c,d