In [1]:
def test(a,b ):
    return a+b

In [2]:
test(45,45)

90

In [3]:
def test1(*args):
    return args

In [4]:
test1()

()

In [5]:
test1(34,56,23)

(34, 56, 23)

In [7]:
test1([3,4,5,6] , 45 , "sudh",345,54,54,54,45,45,45)

([3, 4, 5, 6], 45, 'sudh', 345, 54, 54, 54, 45, 45, 45)

In [10]:
def test2(*sudh):
    for i in sudh:
        print(i)

In [11]:
test2(45,56,56,67,67)

45
56
56
67
67

In [15]:
def test3(*sudh):
    for i in sudh :
        if type(i) == list:
            print(i)

In [16]:
test3(45,56,56,"sdfsf")

In [17]:
test3(45,56,[3,4,6,6,7],56,"sdfsf")

[3, 4, 6, 6, 7]

In [18]:
def test4(**kwargs):
    return kwargs

In [19]:
test4()

{}

In [20]:
test4("sudh")

TypeError: test4() takes 0 positional arguments but 1 was given

In [23]:
test4(a = "sudh" , b = "fsdfsf" , c = [2,3,3,4,5,6])

{'a': 'sudh', 'b': 'fsdfsf', 'c': [2, 3, 3, 4, 5, 6]}

In [32]:
def test5(**sudh):
    return type(sudh)

In [33]:
test5(a = "sdfsd" , b = 5456, c = [4,5,6,7,8])

dict

In [34]:
def test6(***sudh):
    return sudh

SyntaxError: invalid syntax (<ipython-input-34-73daec560bf7>, line 1)

In [40]:
2***3

SyntaxError: invalid syntax (<ipython-input-40-6b1f253a49d9>, line 1)

In [41]:
l = [34,56,78,23,2,3]
l1= []
for i in l :
    l1.append(i+2)

In [42]:
l1

[36, 58, 80, 25, 4, 5]

In [43]:
[i+2 for i in l ]

[36, 58, 80, 25, 4, 5]

In [44]:
def addtwo(n) :
    return n + 2

In [47]:
list(map(addtwo , l))

[36, 58, 80, 25, 4, 5]

In [49]:
list(map(lambda a :a+2 , l))

[36, 58, 80, 25, 4, 5]

In [53]:
l = [2,3,4,'sudh',6,'kumar']

In [54]:
list(map(lambda i  : str(i),l))

['2', '3', '4', 'sudh', '6', 'kumar']

In [55]:
def mapTest(n):
    if type(n)==str:
        n = n+"ok"
    else :
        n=n+2
    return n

In [56]:
list(map(mapTest,l))

[4, 5, 6, 'sudhok', 8, 'kumarok']

In [57]:
list(map(lambda a: a+'ok' if type(a)==str else a+2,l))

[4, 5, 6, 'sudhok', 8, 'kumarok']

In [58]:
l

[2, 3, 4, 'sudh', 6, 'kumar']

In [59]:
l = [34,56,56,778,89,34]

In [60]:
a = 0 
for i in l :
    a = a + i

In [61]:
a

1047

In [62]:
from functools import reduce

In [63]:
reduce(lambda a,b : a + b , l)

1047

In [70]:
def addi(a,b):
    return a+ b

In [69]:
reduce(addi, l )

4.605261994460127e-09

In [71]:
l

[34, 56, 56, 778, 89, 34]

In [72]:
l = [4,5,6,7,7,89,9,4]

In [74]:
reduce(lambda a , b  ,c: , l )

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [87]:
l = [4,5,6,7,8,9 , "sudh"]
list(filter(lambda a : a if type(a) == int else "ok", l ))

[4, 5, 6, 7, 8, 9, 'sudh']

In [83]:
list(filter(lambda a :))

SyntaxError: invalid syntax (<ipython-input-83-92f7751dd162>, line 1)

In [95]:
def test7(n) :
    if type(n) == str:
        return True 
    else :
        return False

In [96]:
list(filter(test7 , l ))

['sudh']

In [97]:
l

[4, 5, 6, 7, 8, 9, 'sudh']

In [104]:
def test8(n ) :
    if type(n) == int:
        return True 
    else :
        return True

In [105]:
list(filter(test8 , l ))

[4, 5, 6, 7, 8, 9, 'sudh']

In [ ]:
from functools import reduce
l = [1,2,3,5,8,1,'sudh','kumar',]
print(reduce(lambda a,b:str(a)+str(b),l))


print(list(filter(lambda a : True if type(a)==str and a.startswith('s') else False,l)))

In [106]:
from functools import reduce
l = [1,2,3,5,8,1,'sudh','kumar',]
print(reduce(lambda a,b:str(a)+str(b),l))

123581sudhkumar

In [107]:
(list(filter(lambda a : True if type(a)==str and a.startswith('s') else False,l)))

['sudh']

In [115]:
def funstest(s):
    if type(s) == str:
        if(s[0]=='s' or s[0] == "S"):
            return True
        else :
            return False

In [116]:
list(filter(funstest, l))

['sudh']

In [113]:
l

[1, 2, 3, 5, 8, 1, 'sudh', 'kumar']

In [121]:
def func1(data):
    if type(data) == str:
        if(data.startswith('s') == True):
            return True
        else:
            return False

In [122]:
list(filter(func1, l))

['sudh']

In [126]:


def con_fun(a,b):
    
    return str (a) + str(b)

In [127]:
reduce(con_fun, l)

'123581sudhkumar'

In [130]:
l=[1]
reduce(lambda x,y:x+y,l)

1

In [131]:
s  = "sudh"
s.startswith('s')

True

In [133]:
import functools 
l = [1,2,3,4,5,6,"sudh","Kumar"]
functools.reduce(lambda a,b:str(a)+str(b),l)

'123456sudhKumar'

In [136]:

def test(i):
        if type(i)==str:
            if (i[0]=='s' or i[0]=='S'):
                return True
            else:
                return False