In [1]:
t = (4,5,6,7,"sudh","kumar")

In [2]:
t

(4, 5, 6, 7, 'sudh', 'kumar')

In [3]:
l  = [3,4,5,6,7,"sudh"]

In [4]:
l

[3, 4, 5, 6, 7, 'sudh']

In [5]:
type(t)

tuple

In [6]:
type(l)

list

In [7]:
l[0]

3

In [8]:
t[0]

4

In [9]:
t

(4, 5, 6, 7, 'sudh', 'kumar')

In [10]:
t[-1]

'kumar'

In [13]:
t[0:3:-1]

()

In [14]:
t[4:0:-1]

('sudh', 7, 6, 5)

In [12]:
l[0:3]

[3, 4, 5]

In [15]:
l

[3, 4, 5, 6, 7, 'sudh']

In [16]:
t

(4, 5, 6, 7, 'sudh', 'kumar')

In [18]:
l[0] = 34

In [19]:
l

[34, 4, 5, 6, 7, 'sudh']

In [21]:
t[0] = 234

TypeError: 'tuple' object does not support item assignment

In [22]:
t = [5,6,7,8]

In [23]:
t

[5, 6, 7, 8]

In [26]:
t = (4,5,6,7,[2,3,4,5,6] , "sudh",True,4+7j, 45.56, (3,4,5,6,7))

In [27]:
t

(4, 5, 6, 7, [2, 3, 4, 5, 6], 'sudh', True, (4+7j), 45.56, (3, 4, 5, 6, 7))

In [28]:
l = [(3,4,5,6,7) , (4,5,6,7)]

In [29]:
l

[(3, 4, 5, 6, 7), (4, 5, 6, 7)]

In [30]:
s= {}

In [31]:
type(s)

dict

In [32]:
s1 = {4,5,6}

In [33]:
type(s1)

set

In [36]:
s2 = {2,3,4,5,6,7,89,4,5,5,5,5,5,5,5,"sudh" , "sudh" ,"sudh"}

In [37]:
s2

{2, 3, 4, 5, 6, 7, 89, 'sudh'}

In [38]:
s3 = {"Sudh" , "sudh"}

In [39]:
s3

{'Sudh', 'sudh'}

In [40]:
s = {334,454,5454,545,454,545,2342,42,22,3,3424234,448,788767,565}

In [41]:
s

{3, 22, 42, 334, 448, 454, 545, 565, 2342, 5454, 788767, 3424234}

In [45]:
s = {"a"  ,"sudh" , "kumar" , 4,5,6,7,34255345,3445455,34535,5345,54}

In [46]:
s

{34255345, 3445455, 34535, 4, 5, 5345, 54, 6, 7, 'a', 'kumar', 'sudh'}

In [44]:
s1 = set()

In [47]:
s

{34255345, 3445455, 34535, 4, 5, 5345, 54, 6, 7, 'a', 'kumar', 'sudh'}

In [48]:
s[0]

TypeError: 'set' object is not subscriptable

In [49]:
l1 = list(s)

In [50]:
l1

[5345, 'kumar', 4, 5, 6, 7, 34535, 3445455, 'sudh', 'a', 34255345, 54]

In [56]:
s2 = l1[4:50]
s2

[6, 7, 34535, 3445455, 'sudh', 'a', 34255345, 54]

In [57]:
s = set(s2)

In [58]:
s

{34255345, 3445455, 34535, 54, 6, 7, 'a', 'sudh'}

In [59]:
t

(4, 5, 6, 7, [2, 3, 4, 5, 6], 'sudh', True, (4+7j), 45.56, (3, 4, 5, 6, 7))

In [60]:
l = list(t)

In [61]:
l

[4, 5, 6, 7, [2, 3, 4, 5, 6], 'sudh', True, (4+7j), 45.56, (3, 4, 5, 6, 7)]

In [62]:
l[0] = 40

In [63]:
l

[40, 5, 6, 7, [2, 3, 4, 5, 6], 'sudh', True, (4+7j), 45.56, (3, 4, 5, 6, 7)]

In [64]:
tuple(l)

(40, 5, 6, 7, [2, 3, 4, 5, 6], 'sudh', True, (4+7j), 45.56, (3, 4, 5, 6, 7))

In [65]:
d = {}

In [66]:
type(d)

dict

In [68]:
d = {"a" :"sudh" , "name":"sudh","number" :23434453 , "mailid" :"sudfff@2sffa.com"}

In [69]:
d

{'a': 'sudh', 'name': 'sudh', 'number': 23434453, 'mailid': 'sudfff@2sffa.com'}

In [70]:
d1 = {"name" :"sudh" ,"name" :"kumar"}

In [72]:
d1

{'name': 'kumar'}

In [73]:
d1 = {345345 :"sudh" ,"name" :"kumar"}

In [74]:
d1

{345345: 'sudh', 'name': 'kumar'}

In [75]:
d1 = {4.56 :"sudh" ,"name" :"kumar"}

In [76]:
d1

{4.56: 'sudh', 'name': 'kumar'}

In [77]:
d1 = {_4.56:"sudh" ,"name" :"kumar"}

SyntaxError: invalid syntax (<ipython-input-77-aede9fbf9afc>, line 1)

In [78]:
d1 = {"_4.56":"sudh" ,"name" :"kumar"}

In [79]:
d1

{'_4.56': 'sudh', 'name': 'kumar'}

In [80]:
d1 = {#2345:"sudh" ,"name" :"kumar"}

SyntaxError: unexpected EOF while parsing (<ipython-input-80-52f522fe7ec7>, line 1)

In [81]:
d1 = {"#fsff":"sudh" ,"name" :"kumar"}

In [82]:
d1

{'#fsff': 'sudh', 'name': 'kumar'}

In [91]:
d1 = {"#fsff":"sudh" ,"name" :"kumar","n" :[4,5,5,6,7,"sudh",(3,4,5,66)],'t':(3,4,5,6) , "s" :{4,5,6,7,8} , "d" :{"y" : "fsdsf"}}

In [92]:
d1

{'#fsff': 'sudh',
 'name': 'kumar',
 'n': [4, 5, 5, 6, 7, 'sudh', (3, 4, 5, 66)],
 't': (3, 4, 5, 6),
 's': {4, 5, 6, 7, 8},
 'd': {'y': 'fsdsf'}}

In [93]:
d1 = {"#fsff":"sudh" ,[3,4,5] :"kumar"}

TypeError: unhashable type: 'list'

In [94]:
d1 = {"#fsff":"sudh" ,"U":"kumar" , "N":"kumar"}

In [95]:
d1

{'#fsff': 'sudh', 'U': 'kumar', 'N': 'kumar'}

In [97]:
d1['#fsff']

'sudh'

In [98]:
d1[0]

KeyError: 0

In [99]:
d = {(2,3,4,5) :"sdfasfasf"}

In [100]:
d

{(2, 3, 4, 5): 'sdfasfasf'}

In [101]:
d = {{4,5,6,7} :"fsdfsf"}

TypeError: unhashable type: 'set'

In [103]:
d = {{'y':"ffsfsf"}:"fsdfsfsfdfd"}

TypeError: unhashable type: 'dict'

In [104]:
d = {"dfdf" :"fsdfsf"}

In [105]:
s = "sudh"

In [106]:
s[0]

's'

In [107]:
s[0] = 'v'

TypeError: 'str' object does not support item assignment

In [108]:
d1 = {"#fsff":"sudh" ,"name" :"kumar","n" :[4,5,5,6,7,"sudh",(3,4,5,66)],'t':(3,4,5,6) , "s" :{4,5,6,7,8} , "d" :{"y" : "fsdsf"}}

In [109]:
d1

{'#fsff': 'sudh',
 'name': 'kumar',
 'n': [4, 5, 5, 6, 7, 'sudh', (3, 4, 5, 66)],
 't': (3, 4, 5, 6),
 's': {4, 5, 6, 7, 8},
 'd': {'y': 'fsdsf'}}

In [111]:
d1['n'][0]

4

In [113]:
d1['t'][2]

5

In [115]:
d1["s"][4]

TypeError: 'set' object is not subscriptable

In [121]:
tuple(d1['s'])[4]

8

In [122]:
list(d1['s'])[4]

8

In [124]:
d1

{'#fsff': 'sudh',
 'name': 'kumar',
 'n': [4, 5, 5, 6, 7, 'sudh', (3, 4, 5, 66)],
 't': (3, 4, 5, 6),
 's': {4, 5, 6, 7, 8},
 'd': {'y': 'fsdsf'}}

In [126]:
d1['d']['y']

'fsdsf'

In [128]:
d1['n'][-1]

(3, 4, 5, 66)

In [129]:
d

{'dfdf': 'fsdfsf'}

In [130]:
d["name"] = "sudh"

In [131]:
 d

{'dfdf': 'fsdfsf', 'name': 'sudh'}

In [132]:
d["name"] = "sudhfsdfsfsaf"

In [133]:
d

{'dfdf': 'fsdfsf', 'name': 'sudhfsdfsfsaf'}

In [134]:
d[["fd"]] = "fsdfs"

TypeError: unhashable type: 'list'

In [138]:
d[(4,5,6)] =  "fdsfdsf"

In [139]:
d

{'dfdf': 'fsdfsf', 'name': 'sudhfsdfsfsaf', (4, 5, 6): 'fdsfdsf'}

In [140]:
d[(4,5,6)]

'fdsfdsf'

In [141]:
l = [5,6,7,7,7,8,8,9,0]

In [142]:
l[0:5]

[5, 6, 7, 7, 7]

In [143]:
for i in l :
    print(i)

5
6
7
7
7
8
8
9
0

In [160]:
l = [5,6,7,7,"sudh" , (4,5,6,7) ,(45,67,67,6,7), {"name" : "sudh"} , {5,6,7,8} , [1,2,54,5]]

In [161]:
for i in l :
    if type(i) == tuple:
        print(i)
        for j in i :
            if j == 6 :
                print(j)

(4, 5, 6, 7)
6
(45, 67, 67, 6, 7)
6

In [156]:
for i in l :
    if type(i) == list:
        for j in i :
            if j == 3 :
                print("yes i am able to get three ")
            else :
                print("no there is no 3 available")

no there is no 3 available
no there is no 3 available
no there is no 3 available
no there is no 3 available

In [145]:
for v  in l :
    print(v)

5
6
7
7
sudh
(4, 5, 6, 7)
{'name': 'sudh'}
{8, 5, 6, 7}
[1, 2, 3, 54, 5]

In [150]:
for v  in l :
    if type(v) == int:
        print(v)

5
6
7
7

In [152]:
l[-1][2]

3

In [162]:
t = (3,4,5,6)

In [163]:
for i in t :
    print(i)

3
4
5
6

In [164]:
s = {5,6,7,8}

In [165]:
for i in s :
    print(i)

8
5
6
7

In [166]:
s1 = "sudhanshu"

In [168]:
for i in s1:
    print(i)

s
u
d
h
a
n
s
h
u

In [189]:
s = {4,5,6,7}

In [190]:
s[0]

TypeError: 'set' object is not subscriptable

In [191]:
t = (5,6,7,8,899,9,9,9,9,9)

In [192]:
t[::-1]

(9, 9, 9, 9, 9, 899, 8, 7, 6, 5)

In [171]:
d = {"name" :"sudh" , "mail" :"Fsdf s" , "no":[454,54,454,54,5]}
d[]

In [186]:
for i in d.items():
    if type(i[1])== list:
        print(i[1])
        for j in i[1]:
            if j > 60 :
                print("element" , j )
            else :
                print("fsffs")

[454, 54, 454, 54, 5]
element 454
fsffs
element 454
fsffs
fsffs

In [187]:
for i in d.items():
    if type(i[1]) == list:
        for j in i[1]:
            if j >60:
                print("elemetn" , j)
            else :
                print("no element lesser then 60 ")

elemetn 454
no element lesser then 60
elemetn 454
no element lesser then 60
no element lesser then 60

In [172]:
for i in d :
    print(i)

name
mail
no

In [180]:
for i in d.keys():
    if type(d[i])== list:
        print(d[i])
    else :
        print("fsfs ")

fsfs
fsfs
[454, 54, 454, 54, 5]

In [176]:
for i in d.values():
    print(i)

sudh
Fsdf s
[454, 54, 454, 54, 5]